:root{
    --celeste: #0dcaf0;
}

*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/*<------------ Estilos de carousel section hero ------------> */
.carousel-hero{
    position: relative  !important;
}

/* Estilo de barra de navegacion */
nav {
    position: absolute !important;
    top: 0;
    width: 100%;
    margin: 10px auto;
    z-index: 10; 
}

/* Estilo de contenedor de barra de navegacion */
.container-fluid{
    width: 80% !important;
}
/* Estilo de logotipo */
.navbar-brand{
    display: flex !important;
    align-items: center !important;
}
span.text-logo{
    margin-left: 10px;
    color: white;
    font-size: 30px;
}

/* Estilos de contenedor de enlaces */
.collapse.navbar-collapse{
    justify-content: end;
}
.navbar-nav{
    text-align: center;
}
/* Estilo de enlace */
a.nav-link{
    color: white;
}

.carousel-item img {
    height: 1000px;
    object-fit: cover;
}

/* Estilos de seccion de presentacion */
section.presentacion-section{
    background-color: black;
    color: white;
}

div.presentacion-container{
    margin: 0 auto;
    width: 80%;
}
.presentacion-container h2{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: lighter;
}

div.item-container{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
div.item-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.icono{
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
}
i{
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

/*<----------------- Estilo de seccion destacados ----------------->*/
section.destacados{
    background-color: black;
    color: white;
}
.destacados h2{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: lighter;
}

.card{
    background-color: var(--celeste) !important;
    padding-bottom: 20px;
}

.card-title, .card-body{
    color: white !important;
}

.card-img-top{
    object-fit: cover;
    height: 200px;
}

/*<----------------- Estilo de seccion contacto ----------------->*/
section.contacto{
    background-color: black;
    color: white;
    padding: 40px 0;
}

.contacto h2{
    text-align: center;
    padding: 50px 0px;
    text-transform: uppercase;
    font-weight: lighter;
}

.contacto-form{
    width: 80%;
    margin: 0 auto;
}

.btn-enviar{
    background-color: var(--celeste) !important;
}

/*<----------------- Estilo de footer ----------------->  */
footer{
    background-color: var(--celeste);
    color: white;
    padding: 15px 0;
}

div.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-md-4 h3{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: lighter;
}

.footer-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-icons li{
    list-style: none;
}

li a{
    color: white;
}